*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    color:#333;
}

/* MENÚ */
nav{
    background:#f29c38;
    padding:15px;
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:18px;
    font-weight:bold;
}

/* ENCABEZADO */
.encabezado{
    background:white;
    text-align:center;
    padding:20px;
}

.logo{
    width:220px;
    max-width:80%;
    height:auto;
    display:block;
    margin:0 auto 15px;
}

.encabezado h1{
    color:#123d93;
    font-size:48px;
    margin-bottom:15px;
}

.encabezado p{
    color:#ef7d22;
    font-size:20px;
    font-weight:bold;
    max-width:800px;
    margin:auto;
}

/* BUSCADOR */
.buscador{
    display:flex;
    justify-content:center;
    gap:15px;
    padding:30px 20px;
    flex-wrap:wrap;
}

.buscador input{
    width:350px;
    max-width:90%;
    padding:15px;
    border-radius:10px;
    border:1px solid #ccc;
    font-size:18px;
}

.buscador button{
    background:#123d93;
    color:white;
    border:none;
    padding:15px 30px;
    border-radius:10px;
    font-size:18px;
    cursor:pointer;
}

/* BIENVENIDA */
.hero{
    text-align:center;
    padding:40px 20px;
}

.hero h2{
    color:#123d93;
    font-size:50px;
    margin-bottom:20px;
}

.hero p{
    font-size:24px;
    line-height:1.5;
}

/* CATEGORÍAS */
.categorias{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:25px;
    padding:40px;
}

.categoria{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
    text-align:center;
    padding-bottom:20px;
}

.categoria img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.categoria h3{
    color:#123d93;
    font-size:30px;
    margin:20px 0;
}

.categoria p{
    font-size:18px;
    padding:0 15px;
}

/* BOTÓN */
.categoria button{
    margin-top:15px;
    background:#123d93;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

/* PIE DE PÁGINA */
footer{
    background:#123d93;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:50px;
}

/* MÓVILES */
@media(max-width:768px){

    nav a{
        font-size:16px;
    }

    .logo{
        width:150px;
    }

    .encabezado h1{
        font-size:32px;
    }

    .encabezado p{
        font-size:18px;
    }

    .hero h2{
        font-size:36px;
    }

    .hero p{
        font-size:20px;
    }

    .categoria img{
        height:180px;
    }
}
