*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f4f4f4;
    font-family:Arial, sans-serif;
}

/* MENÚ */

nav{
    background:#e8a145;
    display:flex;
    justify-content:center;
    gap:40px;
    padding:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:20px;
    font-weight:bold;
}

/* ENCABEZADO */

.encabezado{
    text-align:center;
    padding:30px 20px;
}

.logo{
    width:180px;
    max-width:90%;
}

/* BUSCADOR */

.buscador{
    text-align:center;
    padding:20px;
}

.buscador input{
    width:80%;
    max-width:500px;
    height:60px;
    border-radius:15px;
    border:1px solid #ccc;
    padding-left:20px;
    font-size:20px;
}

.buscador button{
    margin-top:20px;
    width:180px;
    height:65px;
    border:none;
    background:#1f45a7;
    color:white;
    font-size:22px;
    border-radius:18px;
}

/* BIENVENIDA */

.hero{
    text-align:center;
    padding:50px 20px;
}

.hero h2{
    color:#1f45a7;
    font-size:55px;
    margin-bottom:25px;
}

.hero p{
    font-size:26px;
    line-height:1.5;
    max-width:800px;
    margin:auto;
}

/* PRODUCTOS */

.categorias{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
    gap:30px;
    padding:40px;
}

.card{
    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 0 10px rgba(0,0,0,.15);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    color:#1f45a7;
    text-align:center;
    margin-top:20px;
    font-size:30px;
}

.card p{
    text-align:center;
    padding:20px;
    font-size:18px;
}

.card button{
    width:180px;
    height:55px;
    border:none;
    background:#1f45a7;
    color:white;
    border-radius:15px;
    display:block;
    margin:20px auto;
}

/* PIE */

footer{
    background:#1f45a7;
    color:white;
    text-align:center;
    padding:40px;
}

footer h3{
    margin-bottom:15px;
}

footer p{
    margin-top:10px;
}

/* CELULARES */

@media(max-width:768px){

nav{
    gap:20px;
    padding:15px;
}

nav a{
    font-size:18px;
}

.logo{
    width:140px;
}

.hero h2{
    font-size:40px;
}

.hero p{
    font-size:20px;
}

}
